$grid-breakpoints: (
  mobile_xs: 0,
  mobile_s: 375px,
  mobile_sm: 534px,
  tablet_md: 820px,
  desktop_s: 1060px,
  desktop_sm: 1112px,
  desktop_lg: 1192px,
  desktop_xl: 1366px,
  desktop_xxl: 1920px,
);